* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: left; /* Aligns text to the left */
    padding-left: 20px; /* Adds padding to the left */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1; /* This allows the main content to grow and take up available space */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #222;
    color: #fff;
}
.portfolio-gallery a {
    flex: 1 1 calc(33.333% - 20px); /* Adjust the width of the anchor tags */
    max-width: calc(33.333% - 20px); /* Same as above */
    display: block; /* Ensures the anchor takes up space */
}

.portfolio-gallery img {
    width: 100%; /* Make image fill the anchor */
    height: auto; /* Keep aspect ratio */
    display: block; /* Remove bottom space */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-gallery img:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}


@media (max-width: 768px) {
    .portfolio-gallery a {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .portfolio-gallery a {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
