* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    background: #222;
    color: #fff;
    padding: 1em 0;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1; /* This allows the main content to grow and take up available space */
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background: #333;
    color: #fff;
}
